{% extends 'base.html' %}

{% block title %}<title>แบบประเมินการฆ่าตัวตาย 8 คำถาม(8Q)</title>{% endblock %}

{% block content %}
<img src="https://res.cloudinary.com/dzldekasa/image/upload/v1630752530/%E0%B8%A3%E0%B8%B9%E0%B8%9B%E0%B9%82%E0%B8%A3%E0%B8%87%E0%B8%9E%E0%B8%A2%E0%B8%B2%E0%B8%9A%E0%B8%B2%E0%B8%A5/1_paa4dm.jpg" class="img-fluid" alt="Responsive image">
<form action="{% url 'q8' %}" method="post">
  {% csrf_token %}
  <input id="userId" type="hidden" name="userId" value="">

  <div class="card mt-3 mb-3">
    <div class="card-header">
      <b>1. คิดอยากตาย หรือคิดว่าตายไปแล้วจะดีกว่า</b>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="q1" id="flexRadioDefault1-1" value="0" oninvalid="alert('กรุณาเลือกคำตอบข้อที่ 1');" required>
          <label class="form-check-label" for="flexRadioDefault1-1">
            ไม่มี
          </label>
        </div>
      </li>
      <li class="list-group-item">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="q1" id="flexRadioDefault1-2" value="1">
          <label class="form-check-label" for="flexRadioDefault1-2">
            มี
          </label>
        </div>
      </li>
    </ul>
  </div>


  <div class="card mt-3 mb-3">
    <div class="card-header">
      <b>2. อยากทำร้ายตัวเอง หรือ ทำให้ตัวเองบาดเจ็บ</b>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="q2" id="flexRadioDefault2-1" value="0" oninvalid="alert('กรุณาเลือกคำตอบข้อที่ 2');" required>
          <label class="form-check-label" for="flexRadioDefault2-1">
            ไม่มี
          </label>
        </div>
      </li>
      <li class="list-group-item">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="q2" id="flexRadioDefault2-2" value="2">
          <label class="form-check-label" for="flexRadioDefault2-2">
            มี
          </label>
        </div>
      </li>
    </ul>
  </div>


  <div class="card mt-3 mb-3">
    <div class="card-header">
      <b>3. ในช่วง 1 เดือนที่ผ่านมารวมวันนี้ คิดเกี่ยวกับการฆ่าตัวตาย</b>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="q3" id="flexRadioDefault3-1" value="0" onchange="myFunctionQ30()" oninvalid="alert('กรุณาเลือกคำตอบข้อที่ 3');" required >
          <label class="form-check-label" for="flexRadioDefault3-1">
            ไม่มี
          </label>
        </div>
      </li>
      <li class="list-group-item">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="q3" id="flexRadioDefault3-2" value="6" onchange="myFunctionQ31()">
          <label class="form-check-label" for="flexRadioDefault3-2">
            มี
          </label>
        </div>
      </li>
    </ul>
  </div>

<div id="myFunctionQ3">

</div>

<div class="card mt-3 mb-3">
  <div class="card-header">
    <b>4. ในช่วง 1 เดือนที่ผ่านมารวมวันนี้ มีแผนการที่จะฆ่าตัวตาย</b>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="q4" id="flexRadioDefault4-1" value="0" oninvalid="alert('กรุณาเลือกคำตอบข้อที่ 4');" required >
        <label class="form-check-label" for="flexRadioDefault4-1">
          ไม่มี
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="q4" id="flexRadioDefault4-2" value="8" >
        <label class="form-check-label" for="flexRadioDefault4-2">
          มี
        </label>
      </div>
    </li>
  </ul>
</div>

<div class="card mt-3 mb-3">
  <div class="card-header">
    <b>5. ในช่วง 1 เดือนที่ผ่านมารวมวันนี้ ได้เตรียมการที่จะทำร้ายตนเองหรือเตรียมการจะฆ่าตัวตาย โดยตั้งใจว่าจะให้ตายจริง ๆ</b>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="q5" id="flexRadioDefault5-1" value="0" oninvalid="alert('กรุณาเลือกคำตอบข้อที่ 5');" required >
        <label class="form-check-label" for="flexRadioDefault5-1">
          ไม่มี
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="q5" id="flexRadioDefault5-2" value="9" >
        <label class="form-check-label" for="flexRadioDefault5-2">
          มี
        </label>
      </div>
    </li>
  </ul>
</div>

<div class="card mt-3 mb-3">
  <div class="card-header">
    <b>6. ได้ทำให้ตัวเองบาดเจ็บแต่ไม่ตั้งใจที่จะทำให้เสียชีวิต</b>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="q6" id="flexRadioDefault6-1" value="0" oninvalid="alert('กรุณาเลือกคำตอบข้อที่ 6');" required >
        <label class="form-check-label" for="flexRadioDefault6-1">
          ไม่มี
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="q6" id="flexRadioDefault6-2" value="4" >
        <label class="form-check-label" for="flexRadioDefault6-2">
          มี
        </label>
      </div>
    </li>
  </ul>
</div>

<div class="card mt-3 mb-3">
  <div class="card-header">
    <b>7. ได้พยายามฆ่าตัวตายโดยคาดหวัง/ตั้งใจที่จะให้ตาย</b>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="q7" id="flexRadioDefault7-1" value="0" oninvalid="alert('กรุณาเลือกคำตอบข้อที่ 7');" required >
        <label class="form-check-label" for="flexRadioDefault7-1">
          ไม่มี
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="q7" id="flexRadioDefault7-2" value="10" >
        <label class="form-check-label" for="flexRadioDefault7-2">
          มี
        </label>
      </div>
    </li>
  </ul>
</div>

<div class="card mt-3 mb-3">
  <div class="card-header">
    <b>8. ตลาดชีวิตที่ผ่านมา ท่านเคยพยายามฆ่าตัวตาย</b>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="q8" id="flexRadioDefault8-1" value="0" oninvalid="alert('กรุณาเลือกคำตอบข้อที่ 8');" required >
        <label class="form-check-label" for="flexRadioDefault8-1">
          ไม่มี
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="q8" id="flexRadioDefault8-2" value="4" >
        <label class="form-check-label" for="flexRadioDefault8-2">
          มี
        </label>
      </div>
    </li>
  </ul>
</div>

  <div class="text-center mb-3">
    <button type="submit" class="btn btn-primary">ส่งคำตอบ</button>
  </div>
</form>

<div class="card mb-3">
  <div class="card-header text-center">
    แบบประเมินความเสี่ยงฆ่าตัวตาย 8 คำถาม (8Q)
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">• 0 คะแนน ไม่มีแนวโน้มฆ่าตัวตายในปัจจุบัน</li>
    <li class="list-group-item">• 1 - 8 คะแนน มีแนวโน้มฆ่าตัวตายในปัจจุบัน ระดับน้อย</li>
    <li class="list-group-item">• 9 - 16 คะแนน มีแนวโน้มฆ่าตัวตายในปัจจุบัน ระดับปานกลาง</li>
    <li class="list-group-item">• >= 17 คะแนน มีแนวโน้มฆ่าตัวตายในปัจจุบัน ระดับรุนแรง</li>
  </ul>
</div>


<script>
    function myFunctionQ31() {
      document.getElementById("myFunctionQ3").innerHTML =
        `  <div class="card mt-3 mb-3">
          <div class="card-header">
            <i>3.1 ท่านสามารถควบคุบความอยากตายที่ท่านคิดอยู่นั้นได้หรือไม่ หรือ บอกได้ไหมว่าคงจะไม่ทำตามความคิดนั้นในขณะนี้</i>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="q3q" id="flexRadioDefault3q-1" value="0" oninvalid="alert('กรุณาเลือกคำตอบข้อที่ 3.1');" required>
                <label class="form-check-label" for="flexRadioDefault3q-1">
                  ได้
                </label>
              </div>
            </li>
            <li class="list-group-item">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="q3q" id="flexRadioDefault3q-2" value="8">
                <label class="form-check-label" for="flexRadioDefault3q-2">
                  ไม่ได้
                </label>
              </div>
            </li>
          </ul>
        </div>   `
    }

    function myFunctionQ30() {
      document.getElementById("myFunctionQ3").innerHTML = ''
    }
  </script>

  

{% endblock %}
