{% extends 'base.html' %}
{% load custom_tags %}
{% block title %}<title>เตือนความจำ</title>{% endblock %}

{% block content %}
<img src="https://res.cloudinary.com/dzldekasa/image/upload/v1630752530/%E0%B8%A3%E0%B8%B9%E0%B8%9B%E0%B9%82%E0%B8%A3%E0%B8%87%E0%B8%9E%E0%B8%A2%E0%B8%B2%E0%B8%9A%E0%B8%B2%E0%B8%A5/1_paa4dm.jpg" class="img-fluid" alt="Responsive image">

<div class="d-grid gap-2">
    <a href="{% url 'reminder_add' userid %}" class="btn btn-primary mt-3 mb-3"><i class="fa-solid fa-plus"></i> เพิ่มเตือนความจำ</a>
</div>

{% for reminder in reminders %}
    {% for service in reminder.service.all %}
    ✅ {{ service.name_service }} <br>
    {% endfor %}
    📌 หมายเหตุ : {{reminder.reminders_user}} <br>
    📅 วันที่ : {{reminder.date_user|format_date}} <br>
    🕓 เวลา : {{reminder.time_user|format_time}}
    <div class="d-grid gap-2">
        <a href="{% url 'reminder_edit' id=reminder.id %}" class="btn btn-outline-warning mt-1 mb-2"><i class="fa-solid fa-pen-to-square"></i> แก้ไข</a>
    </div>
    <div class="d-grid gap-2">
        <a href="{% url 'reminder_delete' userid=userid id=reminder.id %}" class="btn btn-outline-danger mt-1 mb-2"><i class="fa-solid fa-trash"></i> ลบ</a>
    </div>
    <hr>
{% endfor %}


{% endblock %}
